<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <img src="{{ "/assets/images/217183861/Logo Files/png/White logo - no background.png" | relative_url }}" alt="{{ site.title | escape }}" class="footer-logo">
        <p>{{ site.description }}</p>
      </div>

      <div class="footer-col">
        <h3>Contact Us</h3>
        <ul class="contact-list">
          <li><i class="fas fa-envelope"></i> <a href="mailto:{{ site.company.email }}">{{ site.company.email }}</a></li>
          <li><i class="fas fa-phone"></i> <a href="tel:{{ site.company.phone | remove: " " | remove: "(" | remove: ")" | remove: "-" }}">{{ site.company.phone }}</a></li>
          <li><i class="fas fa-building"></i> {{ site.company.address }}</li>
        </ul>
      </div>

      <div class="footer-col">
        <h3>Follow Us</h3>
        <ul class="social-media-list">
          <li><a href="https://github.com/zsoftly"><i class="fab fa-github"></i> GitHub</a></li>
          <li><a href="https://www.linkedin.com/company/zsoftly-technologies"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <p>&copy; {% assign date_format = site.minima.date_format | default: "%Y" %}{{ 'now' | date: date_format }} {{ site.title }}. All rights reserved.</p>
    </div>
  </div>
</footer>