<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{% if page.title %}{{ page.title | escape }} - {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{{ page.description | default: site.description | escape }}">
    
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="icon" href="{{ "/assets/images/217183861/Logo Files/Favicons/browser.png" | relative_url }}">
    
    {%- feed_meta -%}
    {%- seo -%}
  </head>
  <body>
    {% include header.html %}
    
    <div class="header-slogan">
      <div class="slogan">Empowering Businesses with AI & Cloud-First IT Solutions</div>
    </div>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

    <script src="{{ "/assets/js/main.js" | relative_url }}"></script>
  </body>
</html>